<%- include("partials/header") -%> 
<body>
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <!-- Mobile menu button-->
              <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <!--
                  Icon when menu is closed.
      
                  Heroicon name: outline/bars-3
      
                  Menu open: "hidden", Menu closed: "block"
                -->
                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <!--
                  Icon when menu is open.
      
                  Heroicon name: outline/x-mark
      
                  Menu open: "block", Menu closed: "hidden"
                -->
                <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex flex-shrink-0 items-center">
                <img class="block h-8 w-auto lg:hidden" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                <img class="hidden h-8 w-auto lg:block" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
              </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="/dashboard" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Dashboard</a>
      
                  <a href="/recommendations" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Recommendations</a>
      
                  <a href="/hot" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">What's HOT</a>
      
                  <!-- <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Calendar</a> -->
                </div>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <a href="/logout" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Sign out</a>
            </div>
          </div>
        </div>
      
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pt-2 pb-3">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/dashboard" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Dashboard</a>
      
            <a href="/recommendations" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Recommendations</a>
      
            <a href="/hot" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">What's HOT</a>
      
            <!-- <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Calendar</a> -->
          </div>
        </div>
      </nav>

      <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">Welcome back <%= user.userName %> <br> Here's your manga list. </h1>
        </div>
      </header>

      <!-- New Bookmark Table -->

      <div class="sm:px-36 w-full min-h-screen mb-24">
        <div class="px-4 md:px-10 py-4 md:py-7">
            <div class="flex items-center justify-between">
                <p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800 dark:text-white">Mangas</p>
            </div>
        </div>
        <div class="bg-white dark:bg-gray-900  py-4 md:py-7 px-4 md:px-8 xl:px-10 rounded-md pb-10">
            <div class="sm:flex items-center justify-between">
                <div class="flex items-center">
                  <div class=" ml-4 sm:ml-8">
                    <button class="mx-2 my-2 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-gray-600 dark:text-gray-200 px-8 py-3 focus:outline-none focus:ring-1 focus:ring-offset-1" onclick="showCurrent()">
                            <p>Reading</p>
                      </button>
                  </div>
                  <div class="ml-4 sm:ml-8">
                    <button class="mx-2 my-2 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-gray-600 dark:text-gray-200 px-8 py-3 focus:outline-none focus:ring-1 focus:ring-offset-1"  onclick="showCompleted()">
                            <p>Completed</p>
                      </button>
                  </div>
                  <div class="ml-4 sm:ml-8">
                    <button class="mx-2 my-2 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-gray-600 dark:text-gray-200 px-8 py-3 focus:outline-none focus:ring-1 focus:ring-offset-1" onclick="showAll()">
                            <p>All Mangas</p>
                      </button>
                  </div>
                </div>
                <button onclick="modalHandler(true)" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-3 bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded">
                    <p class="text-sm font-medium leading-none text-white">Add Manga</p>
                </button>
          </div>

            <!-- New Bookmark -->
            <div class="mt-7 h-auto" id="current">
              <table class="w-full whitespace-nowrap">
                  <% bookmarks.forEach(element => { %>
                    <% if(element.completed === false) { %>
                          <tbody>
                              <tr tabindex="0" class="focus:outline-none h-16 border border-gray-100 dark:border-gray-600 rounded">
                                  <!-- <td>
                                      <div class="ml-5">
                                          <div class="bg-gray-200 dark:bg-gray-800  rounded-sm w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
                                              <input placeholder="checkbox" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                                              <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                                                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/tasks-svg7.svg" alt="check-icon">
                                              </div>
                                          </div>
                                      </div>
                                  </td> -->
                                  <!-- title -->
                                  <td class="">
                                      <div class="flex items-center pl-5">
                                          <p class="text-base font-medium leading-none text-gray-700 dark:text-white  mr-2"><%=element.title%></p>
                                      </div>
                                  </td>
                                  <td class="pl-24">
                                  </td>
                                  <td class="pl-5">
                                  </td>
                                  <td class="pl-5">
                                  </td>
                                  <td class="pl-5">
                                  </td>
                                  <!-- Site URL -->
                                  <td class="pl-5">
                                          <a class="py-3 px-3 text-sm focus:outline-none leading-none text-red-700 bg-red-100 rounded" href="<%=element.url%>">Read Here</a>
                                  </td>
                                  <!-- Completed -->
                                  <td class="pl-5">
                                          <form class="mt-3" action="/dashboard/completedBookmark/<%= element._id %>?_method=PUT" method="POST">
                                            <button class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-gray-600 dark:text-gray-200  py-3.5 px-3 bg-gray-100 rounded hover:bg-gray-200 dark:hover:bg-gray-700   dark:bg-gray-800  focus:outline-none" type="submit">
                                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
                                                 <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                                 <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                                                 <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                                               </svg>
                                              </button>
                                            </form>
                                      </button>
                                  </td>
          
                                  <!-- Delete/edit entry -->
                                  <td>
                                    <div class="dropdown relative px-4 pt-2 mb-3" >
                                      <label tabindex="0" class="btn m-1"><img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/tasks-svg6.svg" alt="dropdown"></label>
                                      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-22">
                                        <li>
                                          <form class= "m-0" tabindex="0" action="/dashboard/deleteBookmark/<%= element._id %>?_method=DELETE" method="POST">
                                            <button class="text-xs" type="submit">Delete</button>
                                          </form>
                                        </li>

                                        <li>
                                          <a class="text-xs">Edit</a>
                                        </li>
                                      </ul>
                                    </div>
                                </td>
                              </tr>
                          </tbody>
                        <% } %>
                 <% }) %>
              </table>
          </div>

          <!-- Completed List -->
          <div class="mt-7 h-auto hidden" id="completed">
            <table class="w-full whitespace-nowrap">
                <% bookmarks.forEach(element => { %>
                    <% if(element.completed === true) { %>
                        <tbody>
                            <tr tabindex="0" class="focus:outline-none h-16 border border-gray-100 dark:border-gray-600  rounded">
                                <!-- <td>
                                    <div class="ml-5">
                                        <div class="bg-gray-200 dark:bg-gray-800  rounded-sm w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
                                            <input placeholder="checkbox" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                                            <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/tasks-svg7.svg" alt="check-icon">
                                            </div>
                                        </div>
                                    </div>
                                </td> -->
                                <!-- title -->
                                <td class="">
                                    <div class="flex items-center pl-5">
                                        <p class="text-base font-medium leading-none text-gray-700 dark:text-white  mr-2"><%=element.title%></p>
                                    </div>
                                </td>
                                <td class="pl-24">
                                </td>
                                <td class="pl-5">
                                </td>
                                <td class="pl-5">
                                </td>
                                <td class="pl-5">
                                </td>
                                <!-- Site URL -->
                                <td class="pl-5">
                                    <button class="py-3 px-3 text-sm focus:outline-none leading-none text-red-700 bg-red-100 rounded">
                                        <a href="<%=element.url%>">Read Here</a>
                                    </button>
                                </td>
                                <!-- Completed -->
                                <td class="pl-4">
                                    
                                </td>
        
                                <!-- Delete/edit entry -->
                                <td>
                                    <div class="dropdown relative px-4 pt-2 mb-3" >
                                      <label tabindex="0" class="btn m-1"><img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/tasks-svg6.svg" alt="dropdown"></label>
                                      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-22">
                                        <li>
                                          <form class= "m-0" tabindex="0" action="/dashboard/deleteBookmark/<%= element._id %>?_method=DELETE" method="POST">
                                            <button class="text-xs" type="submit">Delete</button>
                                          </form>
                                        </li>
        
                                        <li>
                                          <a class="text-xs">Edit</a>
                                        </li>
                                      </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                   <% } %>
               <% }) %>
            </table>
        </div>
                
          <!-- <style>
              .checkbox:checked + .check-icon {
                  display: flex;
              }
          </style> -->
      
      
          <!-- All Bookmarks -->
      
          <div class="mt-7 h-auto hidden" id="all">
            <table class="w-full whitespace-nowrap">
                <% bookmarks.forEach(element => { %>
                        <tbody>
                            <tr tabindex="0" class="focus:outline-none h-16 border border-gray-100 dark:border-gray-600  rounded">
                                <!-- <td>
                                    <div class="ml-5">
                                        <div class="bg-gray-200 dark:bg-gray-800  rounded-sm w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
                                            <input placeholder="checkbox" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                                            <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/tasks-svg7.svg" alt="check-icon">
                                            </div>
                                        </div>
                                    </div>
                                </td> -->
                                <!-- title -->
                                <td class="">
                                    <div class="flex items-center pl-5">
                                        <p class="text-base font-medium leading-none text-gray-700 dark:text-white  mr-2"><%=element.title%></p>
                                    </div>
                                </td>
                                <td class="pl-24">
                                </td>
                                <td class="pl-5">
                                </td>
                                <td class="pl-5">
                                </td>
                                <td class="pl-5">
                                </td>
                                <!-- Site URL -->
                                <td class="pl-5">
                                    <button class="py-3 px-3 text-sm focus:outline-none leading-none text-red-700 bg-red-100 rounded">
                                        <a href="<%=element.url%>">Read Here</a>
                                    </button>
                                </td>
                                <!-- Completed -->
                                <td class="pl-4">
                                    
                                </td>
        
                                <!-- Delete/edit entry -->
                                <td>
                                    <div class="dropdown relative px-4 pt-2 mb-3" >
                                      <label tabindex="0" class="btn m-1"><img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/tasks-svg6.svg" alt="dropdown"></label>
                                      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-22">
                                        <li>
                                          <form class= "m-0" tabindex="0" action="/dashboard/deleteBookmark/<%= element._id %>?_method=DELETE" method="POST">
                                            <button class="text-xs" type="submit">Delete</button>
                                          </form>
                                        </li>
        
                                        <li>
                                          <a class="text-xs">Edit</a>
                                        </li>
                                      </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
               <% }) %>
            </table>
        </div>
      </div>
    </div>

 <!--Add New bookmark  -->
      <div class="py-12 z-10 absolute top-0 right-0 bottom-0 left-0 hidden" id="modal">
        <div class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
          <div class="relative py-8 px-5 md:px-10 bg-white dark:bg-gray-800 dark:border-gray-700 shadow-md rounded border border-gray-400">
              <div class="w-full flex justify-start text-gray-600 mb-3">
                   
                <form action="/dashboard/createBookmark" method="POST"> 
              </div>

                <h1 class="text-gray-800 dark:text-white  font-lg font-bold tracking-normal leading-tight mb-4">Enter Manga Details</h1>
                <label for="title" class="text-gray-800 dark:text-white  text-sm font-bold leading-tight tracking-normal">Manga Title</label>
                <input type="text" name="title" id="title" class="mb-5 mt-2 text-gray-600 dark:bg-gray-900 dark:text-white dark:placeholder-gray-200 dark:border-gray-700 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="Manga" />
               
                <label for="cvc" class="text-gray-800 dark:text-white  text-sm font-bold leading-tight tracking-normal">URL</label>

                <div class="relative mb-5 mt-2">
                    <input type="text" name="url" id="url" class="mb-8 text-gray-600 dark:bg-gray-900 dark:text-white dark:placeholder-gray-200 dark:border-gray-700 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="URL" />
                </div>

                <div class="flex items-center justify-start w-full">
                    <button type="submit" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-8 py-2 text-sm">Submit</button>
                </form>
                    <button class="focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-gray-400 ml-3 bg-gray-100 transition duration-150 text-gray-600 ease-in-out hover:border-gray-400 hover:bg-gray-300 border rounded px-8 py-2 text-sm" onclick="modalHandler()">Cancel</button>
                </div>

                <button class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded focus:ring-2 focus:outline-none focus:ring-gray-600" onclick="modalHandler()" aria-label="close modal" role="button">
                    <svg  xmlns="http://www.w3.org/2000/svg"  class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <line x1="18" y1="6" x2="6" y2="18" />
                        <line x1="6" y1="6" x2="18" y2="18" />
                    </svg>
                </button>
          </div>
        </div>
      </div>

      <%- include("partials/footer") -%> 

      <script src="/js/main.js"></script>
</body>
